.env
.env.*
!.env.example

node_modules/
public/uploads/

npm-debug.log*
yarn-debug.log*
yarn-error.log*

.DS_Store
Thumbs.db

# Keep docs and scripts tracked
public/assets/css/tailwind.css
/reference-home-page
